<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <!-- <link rel="sty <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">lesheet" href="../../css/bootstrap.min.css" > -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">

  <div class="row">
    <h2>Add New Patient</h2>
  </div>

  <div class="row">
    <form action="#" th:action="@{/web/patient/validate}" th:object="${patient}" method="post" class="form-horizontal" style="width: 100%">

      <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">Firstname</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{id}" id="firstname" placeholder="firstname" class="col-4">
          <p class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">Lastname</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{lastname}" id="lastname" placeholder="lastname" class="col-4">
          <p class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth" class="col-sm-2 control-label">Date of Birth</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="dateOfBirth" class="col-4">
          <p class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{gender}" id="gender" placeholder="gender" class="col-4">
          <p class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type=text  th:field="*{address}" id="address" placeholder="Address" class="col-4">
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="col-sm-2 control-label">Phone number</label>
        <div class="col-sm-10">
          <input type=text  th:field="*{phoneNumber}" id="phoneNumber" placeholder="phoneNumber" class="col-4">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <a class="btn btn-danger btn-sm" href="/web/patient/list">Cancel</a>
          <input class="btn btn-primary btn-sm" type="submit" value="Add Patient">
        </div>
      </div>

    </form>
  </div>

</div>
</body>
</html>